{% extends "movies/standard.html" %}

{% block main_content %}
<p>Years: <a href="{% url 'movies:mmlt' '2017' %}">2017</a> | <a href="{% url 'movies:mmlt' '2016' %}">2016</a></p>
<p>Just saw a movie and posted about it on Facebook?  Add it here:</p>
<form action="{% url 'movies:moviesearch' %}" method="get">
<p><input type="text" name="search" size="50"/> <input type="submit" value="search"/></p>
</form>
<p>Even if you find the movie on the list below, we want to know about it, because we want data.<br/>
Sweet, delicious data.</p>
{% if yearly_movie_list %}
<h1>{{ list_title }}</h1>
<table>
	<tr>
		<th>Number</th>
		<th>Poster</th>
		<th>Rating</th>
		<th>Views</th>
		<th>Movie</th>
	</tr>
{% for movie in yearly_movie_list %}
	<tr>
		<td>{{ forloop.counter }}</td>
		<td>{% if movie.poster != 'N/A' %}<img src="{{ movie.poster }}" width="25px"/>{% else %}&nbsp;{% endif %}</td>
		<td>&nbsp;</td>
		<td>{{ movie.viewcount }}</td>
		<td><a href="{% url 'movies:moviedetails' movie.uid %}">{{ movie.title }}</a></td>
	</tr>
	{# <li><b><a href="{% url 'movies:moviedetails' movie.uid %}">{{ movie.title }}</a></b> ({{ movie.director }}: {{ movie.prod_year }})</li>#}
{% endfor %}
</table>
{% else %}
<p>Sorry, no data exists for this year</p>
{% endif %}
{% endblock %}
